.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 95%;
  background-position: center;
  position: relative;
  background-color: #73ccf5;
  background-image: url('@/assets/bg.png');
  background-repeat: no-repeat;
}

.login-container {
  position: absolute;
  top: 22%;
  right: calc(50% - (200px + var(--td-comp-size-s)));
  //min-height: 500px;
  background: #fff;
  padding: var(--td-comp-margin-xxxxl) var(--td-comp-size-s);
  border-radius: 4px;
}

.title-container {
  .title {
    font: var(--td-font-headline-large);
    color: var(--td-text-color-primary);
    margin-top: var(--td-comp-margin-xs);
    text-align: center;

    &.margin-no {
      margin-top: 0;
    }
  }
}

.item-container {
  width: 400px;
  margin-top: var(--td-comp-margin-xxxxl);

  .check-container {
    display: flex;
    align-items: center;

    &.remember-pwd {
      margin-bottom: var(--td-comp-margin-l);
      justify-content: space-between;
    }

    span {
      color: var(--td-brand-color);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .captcha-form-item {
    display: flex;
    align-items: center;

    .t-image__wrapper {
      margin-left: var(--td-comp-margin-l);
      border-radius: var(--td-radius-default);
      cursor: pointer;
    }

    :deep(.t-form__controls) {
      width: 100%;

      img {
        width: 120px;
        height: 40px;
        display: block;
      }
    }
  }
}

.copyright {
  font: var(--td-font-body-medium);
  color: var(--td-text-color-secondary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

//@media screen and (height <= 700px) {
//  .copyright {
//    display: none;
//  }
//}
